{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<div class="login-container">
    <div class="login-content">
        <h1 class="text-center">
            {% trans "Change Password" %}
        </h1>
        <p class="text-center">
            {% trans 'Your password is now changed.' %}
        </p>
        <div class="set-password text-center mt-4">
            <button class="btn btn-primary" id="login-btn" data-url="{% url 'account_login' %}">Log In</button>
        </div>
    </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/booking.js' %}"></script>
{% endblock %}